<mat-card><h1> {{title}} </h1></mat-card>

<mat-card>

  <h2>Form</h2>

  <form class="container" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field>
      <input matInput placeholder="label" formControlName="label">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="field type" formControlName="type">
        <mat-option value="number">Number</mat-option>
        <mat-option value="text">Text</mat-option>
        <mat-option value="email">Email</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="myForm.value['isHidden'] === 'no'">
      <textarea matInput placeholder="value" formControlName="value"></textarea>
    </mat-form-field>

    <section class="Make-section">
      <label class="Make-margin">Value optional ?  </label>
      <mat-radio-group formControlName="isOptional">
        <mat-radio-button class="Make-margin" value="yes">Yes</mat-radio-button>
        <mat-radio-button class="Make-margin" value="no">No</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="Make-section">
      <label class="Make-margin">Value hidden ?    </label>
      <mat-radio-group formControlName="isHidden">
        <mat-radio-button class="Make-margin" value="yes">Yes</mat-radio-button>
        <mat-radio-button class="Make-margin" value="no">No</mat-radio-button>
      </mat-radio-group>
    </section>

    <button mat-raised-button color="accent" type="submit">S'enregistrer</button>


  </form>


</mat-card>

<app-result></app-result>
